ARK_API_KEY=
ARK_BASE_URL=https://ark.ap-southeast.bytepluses.com/api/v3
SEED_STORY_MODEL=seed-2-0-pro-260328
SEEDREAM_MODEL=seedream-5-0-260128
SEEDANCE_MODEL=dreamina-seedance-2-0-260128

TTS_PROVIDER=elevenlabs

ELEVENLABS_API_KEY=
ELEVENLABS_BASE_URL=https://api.elevenlabs.io
ELEVENLABS_VOICE_ID=JBFqnCBsd6RMkjVDRZzb
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_OUTPUT_FORMAT=mp3_44100_128

BYTEPLUS_TTS_BASE_URL=https://openspeech.byteoversea.com/api/v1/tts
BYTEPLUS_TTS_APP_ID=
BYTEPLUS_TTS_TOKEN=
BYTEPLUS_TTS_CLUSTER=volcano_tts_test
BYTEPLUS_TTS_VOICE_TYPE=en_female_anna_mars_bigtts
BYTEPLUS_TTS_UID=storycast-demo

STORYCAST_OUTPUT_DIR=runs
STORYCAST_RESOLUTION=720p
STORYCAST_IMAGE_SIZE=2K
STORYCAST_SCENE_COUNT=6
STORYCAST_DURATION_SECONDS=60
STORYCAST_VIDEO_ASPECT_RATIO=16:9
STORYCAST_SEEDANCE_POLL_INTERVAL_SECONDS=4
STORYCAST_SEEDANCE_POLL_ATTEMPTS=60
